.titlebar {
    top: 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.menu-window {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    border: 0;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin: 0;
    background-color: #ffffff;
    border-radius: .4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-option {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 1.75rem;
    border: 0;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-left: .25rem;
    margin-right: .25rem;
    background-color: transparent;
    border-radius: .4rem;
}

.menu-option:hover {
    background-color: #e2e6ec;
}

.menu-option:focus {
    background-color: #e2e6ec;
}

.internal-menu-option-keybind {
    margin-left: 4.5rem;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    height: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: .85rem;
    color: #3d3d3d;
}

.menu-titlebar-button {
    padding-left: .4rem;
    padding-right: .4rem;
}

.titlebar-button:hover {
    background-color: #d9dce3;
}

.titlebar-button-actuate {
    background-color: #d9dce3;
}

#quit-button:hover {
    background-color: #f44336;
}